* {
    box-sizing: border-box;
}

body {
    font-family: comfortaa, serif;
    font-size: 1.5em;
    letter-spacing: 0.075em;
    word-spacing: 0.5em;
    line-height: 1.2;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    background-color: rgb(250, 245, 245)
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: alice, sans-serif;
    letter-spacing: 0.125em;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    padding-left: 10px;
}

section h2 + p {
    text-indent: 20px;
}

/* section h1 > p::first-line, h2 > p::first-line, h3 > p::first-line, h4 > p::first-line, h5 > p::first-line, h6 > p::first-line {
    text-indent: 1.5em;
} */

a:link {
    font-weight: bold;
    color: rgb(136, 83, 83);
}

a:visited {
    color: rgb(132, 91, 228);
}

a:focus {
    outline: none;
    color: rgb(201, 22, 255);
    text-decoration: none;  
}

a:hover {
    color: rgb(100, 141, 255);
    text-decoration: none;
}

a:active {
    color: rgb(218, 62, 135);
}

a[href*="http"] {
    background: url('icons/external-link.png') no-repeat 100% 0;
    background-size: 14px 14px;
    padding-right: 16px;
}

p ol, ul {
    list-style: square;
    line-height: inherit;
}

/* ul li {
    padding-left: 2em;
    background-image: url(???);
    background-position: 0 0;
    background-size: 1em 1em;
    background-repeat: no-repeat;
} */

p ul:first-child, ol:first-child {
    padding-top: inherit;
}

p ul:last-child, ol:last-child {
    padding-bottom: inherit;
}

nav ul {
    padding: 0;
}

nav li {
    display: block;
    width: 10em;
    height: 4em;
    margin: 2em;
    line-height: 3;
    text-align: center;
    border: #a66 solid 2px;
    border-radius: 0.5em;
}

nav li a, a:visited {
    text-decoration: none;
    font-size: 1.33em;
    color: #a66;
}