
.body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 148, 60, 0.26);
}

.menu {
    position: absolute;
    display: block;
    background-color: rgba(255, 127, 80, 0.3);
    font-size: 2vw;
    color: white;
    text-align: center;
    left: 27.5%;
    height: 22.55em;
    width: 22.55em;
    border: rgba(255,120,120) solid .5vw;
    border-radius: .5vw;
}

.menu h3 {
    background: rgba(255, 255, 131, 0.8);
    line-height: 150%;
    font-size: 7vw;
    font-weight: 900;
    font-family: "comic Sans MS", cursive, sans-serif;
    color: black;
    margin-top: 1.6vw;
    display: inline-block;
    border: rgba(255,120,120,0.7) solid .5vw;
    border-radius: 2vw;
    width: 95%;
}

.but {
    width: 80%;
    height: 15%;
    background-color: rgba(255,120,120,0.7);
    border: gold solid;
    border-radius: 2vw;
    font-size: 2.5vw;
    font-family: "comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    margin-top: 3vw;
}

.but:hover {
    background-color: rgb(255,120,120);
}


header {
    font-family: "comic Sans MS", cursive, sans-serif;
    background-color: rgb(255, 255, 131);
    border-bottom: rgb(255, 218, 130) solid 5px;
    margin-bottom: 7vh;
    text-align: center;
}

header h1 {
    font-size: 7vh;
}

.row {
    justify-content: center;
}

.square {
    background: #000;
    display: inline-block;
    width: 15vw;
    height: 15vw;
    border: rgba(255, 255, 255, 0.3) solid 0.3vw;
    border-radius: 5%;
}

.square:hover {
    border: rgba(255, 255, 255, 0.6) solid 0.3vw;
    cursor: pointer;
}

.square p {
    font-family: "comic Sans MS", cursive, sans-serif;
    line-height: 15vw;
    padding: 0;
    margin: -1vw;
    font-size: 13vw;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
}

.orange {background-color: rgba(255, 255, 0, 0.1);}
.orange:hover {background-color: rgba(255, 255, 0, 0.3);}

.gold {background-color: rgba(255, 180, 0, 0.1);}
.gold:hover {background-color: rgba(255, 180, 0, 0.3);}
