html {
    font-size: 10px;
    font-family: sans-serif;
}

p {
    width: 200px;
    line-height: 2;
    text-align: center;
    font-size: 1.7rem;
    background-color: #ee55dd;
    color: #ee55dd;
    text-shadow: 2px 2px 1.5px black;
    border: 1px solid #ce4abe;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2));
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8),
                inset 3px 3px 2px rgba(255, 255, 255, 0.5),
                inset -3px -3px 2px rgba(0, 0, 0, 0.3);
}