body {
    background-color: #ececec !important;
}

.gradient {
    background: rgb(153,153,153);
    background: linear-gradient(90deg, 
    rgb(168, 168, 168) 0%, 
    rgba(195,195,195,1) 35%,
    rgba(195,195,195,1) 65%, 
    rgb(168, 168, 168) 100%);
}

header {
    width: 100%;
    background-color: rgb(221, 221, 221);
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: #666 solid 5px;
}

header h1 {
    color: rgb(44, 44, 44);
    text-align: center;
    font-family: fantasy;
    padding-top: 1.2%;
}

.buttn {
    font-family: monospace;
    border-radius: 0%;
    display: block;
    width: 100%;
    background: rgb(250, 250, 250);
    border: #d1d1d1 solid 2px;
    border-bottom: #d1d1d1 solid 1px;
    border-top: #d1d1d1 solid 1px;
}

.buttn:hover {
    background: rgb(207, 210, 218);
}

.css::before {
    display: block;
    position: absolute;
    text-align: start;
    content: "CSS";
    font-weight: 900;
    color: rgb(60, 106, 255);
}

.js::before {
    display: block;
    position: absolute;
    text-align: start;
    content: "JavaScript";
    font-weight: 900;
    color: rgb(255, 180, 60);
}