td {
    border: 2px solid rgb(90, 170, 235);
    border-radius: 2px;
    margin: 1px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: "comic Sans MS", cursive, sans-serif;
    font-size: 28px;
    cursor: pointer;
}
table {
    position: absolute;
    left: 50%;
    margin-left: -65px;
    top: 20px;
}
.endGame {
    display: none;
    width: 80px;
    top: 73px;
    border: 4px black;
    background-color: rgba(255, 127, 80, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -32px;
    border-radius: 3px;
    font-size: 2em;
    color: white;
    text-align: center;
}