body, h2, p {
    margin: 0;
}
  
html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
}

h2 {
    font-size: 2em;
    line-height: 1.5;
}
/* 10 */
.card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}
/* 11 */
.card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
}
  /* 11 */
.card footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
}

.card footer p {
    font-size: 1.5em;
    line-height: 2;
}

.card header, footer {
    height: 3em;
    padding: 1em;
}

.card article {
    height: 12em;
    background-color: rgba(0,0,0,0.2)
}

.card article p {
    padding: 1em;
    line-height: 1.3;
    color: white;
}

/* 12 */
.card article img {
    max-height: 100%;
    float: right;
} 