

// font-family: 'New Rocker', cursive;

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

table {
    background-color: #ff33cc;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;   
}

thead {
    th {
        &:nth-child(1) {
            width: 30%;
        }
        &:nth-child(2) {
            width: 20%;
        }
        &:nth-child(3) {
            width: 15%;
        }
        &:nth-child(4) {
            width: 35%;
        }
    }
}

thead th, tfoot th {
    font-family: 'New Rocker', cursive;
  }

th, td {
    padding: 20px;       
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody { 
    tr {
        &:nth-child(odd) {
            background-color: #ff33cc;
        }
        &:nth-child(even) {
            background-color: #e495e4;
        }
        background-image: url(../img/noise.png);
    }
    td {
        text-align: center;
    }
}

tfoot { 
    td {
        &:nth-child(2) {
            font-size: 1.7em;
            padding-left: 3rem;
            text-shadow: 3px 3px 3px black;
        }
    }
    th {
       text-align: right;
    }
}

thead, tfoot {
    font-size: 1.5em;
    background: url(../img/leopardskin.jpg);
    color: white;
    text-shadow: 2px 2px 2px black;
}

thead th, tfoot th, tfoot td {
    background: linear-gradient(to bootom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    border: 3px solid purple;
}

caption {
    font-family: 'New Rocker', cursive;
    font-size: 1.3em;
    padding: 10px;
    font-style: italic;
    caption-side: bottom;
    color: rgb(70, 70, 70);
    text-align: right;
    letter-spacing: 1px;
  }