#message {
    margin: 5% 10% 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h2 {
    text-align: center;
}

#fillForm {
    margin: 5%;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 10px;
}


.firstNameError {
    font-size: 80%;
    color: white;
    background-color: rgb(190, 0, 0);
    margin-left: 10%;
    box-sizing: border-box;
}

.secondNameError {
    font-size: 80%;
    color: white;
    background-color: rgb(190, 0, 0);
    margin-left: 10%;
    box-sizing: border-box;
}

.emailError {
    font-size: 80%;
    color: white;
    background-color: rgb(190, 0, 0);
    margin-left: 10%;
    box-sizing: border-box;
}

.adressError {
    font-size: 80%;
    color: white;
    background-color: rgb(190, 0, 0);
    margin-left: 10%;
    box-sizing: border-box;
}

.phoneNumberError {
    font-size: 80%;
    color: white;
    background-color: rgb(190, 0, 0);
    margin-left: 10%;
    box-sizing: border-box;
}

input {
    width: 80%;
    margin: 1% 10% 0 10%;
    border-radius: 3px;
}

input:invalid {
    border-color: rgb(190, 0, 0);
    background-color: #FDD;
}

#submit {
    margin: 5% 10% 5% 10%;
    width: 80%;
}