@font-face {
    font-family: comfortaa;
    src: url('comfortaa-regular-webfont.woff2') format('woff2'),
         url('comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: alice;
    src: url('alice-regular-webfont.woff2') format('woff2'),
         url('alice-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}