* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Roboto", sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
    background: url(../img/top-image.png) no-repeat 0% 0%, 
                url(../img/bottom-image.png) no-repeat 100% 100%,
                linear-gradient(to bottom,
                rgba(0, 0, 0, 0.15), 
                rgba(0, 0, 0, 0) 20%, 
                rgba(0, 0, 0, 0) 80%, 
                rgba(0, 0, 0, 0.15));
    // background: url(../img/top-image.png) no-repeat 0% 0%;
    background-size: 100%;
    border-top: 1mm solid #990000;
    border-bottom: 1mm solid #990000;
}
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: url(../img/logo.png) no-repeat;
    filter: drop-shadow(9px 4px 2px rgba(0,0,0,0.6));
    // border-radius: 50%;
    // box-shadow: 9px 4px 2px rgba(0,0,0,0.6);
  }
  
