input {
    width: 230px
}

input:invalid{
    border-color: rgb(158, 78, 78);
    background-color: rgb(255, 232, 232);
}
  
input:valid {
    border-color: rgb(154, 255, 145);
    background-color: rgb(225, 255, 223);
}

input:focus:invalid {
    border-color: rgba(107, 107, 107, 0.575);
    background-color: rgba(139, 139, 139, 0.151);
}
  